{% extends "watch/menu_base.html" %}

{% block title %}Edit Watcher{% endblock title %}

{% block header %}
<h3>Edit Watcher</h1>
<style>
th {
  padding-right: 10px;
  text-align: left;
  font-weight: normal;
}
label.required {
    color: red;
}

.large {
    width: 200%;
}

</style>
{% endblock header %}

{% block content %}

<form action="/watch/edit/{{ id }}/" method="POST">
    {% csrf_token %}
    <table cellpadding="10">
        {{ form }}
    </table>
    <input type="submit" name="submit" value="Save" />
</form>
{% endblock content %}
