{% extends "watch/menu_base.html" %}

{% block title %}List Watches{% endblock title %}

{% block header %}
<h3>Current Watches</h1>
{% endblock header %}

{% block content %}

<div class="container">
    <table class='pure-table'>
        <thead>
            <tr>
                <td>Name</td>
                <td>Tag</td>
                <td>Every n hours</td>
                <td>ID</td>
            </tr>
        </thead>
        <tbody>
        {% for watcher in wl %}
          <tr>
            <td><a href="/watch/details/{{ watcher.id }}/">{{ watcher.name }}</a></td>
            <td>{{ watcher.tag }}</td>
            <td>{{ watcher.freq }}</td>
            <td>{{ watcher.id }}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}