{% extends 'menu_base.html' %}

{% block title %}Vote Tallies{% endblock %}

{% block header %}
    <h2>Tally Page for: {{ survey }}</h2>
    <style>
    .button {
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
    }
    td {
        padding: 10px 10px 10px 10px;
    }
    </style>
    <script>

    function mkgrey(id) {
        element = document.getElementById(id);
        color = element.style.backgroundColor
        element.style.backgroundColor = "grey"
        setTimeout(function(){restore(element, color)}, 10000);
    }

    function restore(element, color) {
        element.style.backgroundColor = color;
    }

    </script>
{% endblock %}

{% block content %}
    <h1 class="content-subhead">Vote Total {{ vtot }}</h1>
    <div>
        <table>
            <tr>
                <td>
                    <a href="/vote/?car=TeslaS" id="tesla_s" class="button"
                       style="background-color: #000000;"
                       onmousedown="mkgrey('tesla_s')">Tesla S</a> count: {{ tallies.TeslaS }}
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>

            </tr>
            <tr>
                <td>
                    <a href="/vote/?car=TeslaX" id="tesla_x" class="button"
                    style="background-color: rgb(202,87,40);"
                    onmousedown="mkgrey('tesla_x')">Tesla X</a> count: {{ tallies.TeslaX }}
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>

            <tr>
                <td>
                    <a href="/vote/?car=Tesla3" id="tesla_3" class="button"
                     style="background-color: #0000ff;"
                     onmousedown="mkgrey('tesla_3')">Tesla 3</a> count: {{ tallies.Tesla3 }}
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <table class="pure-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>{{ vote.choice }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>

    <p style="font-size: .75em; text-align: right;">cars.html</p>
{% endblock %}
