{% extends 'menu_base.html' %}

{% block title %}Vote Tallies{% endblock %}

{% block header %}
    <h2>Tally Page for: {{ survey }}</h2>
    <style>
    .button {
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
    }
    td {
        padding: 10px 10px 10px 10px;
    }
    </style>
    <script>

    function mkgrey(id) {
        element = document.getElementById(id);
        color = element.style.backgroundColor
        element.style.backgroundColor = "grey"
        setTimeout(function(){restore(element, color)}, 10000);
    }

    function restore(element, color) {
        element.style.backgroundColor = color;
    }

    </script>
{% endblock %}

{% block content %}
    <h1 class="content-subhead">Vote Total {{ vtot }}</h1>
    <div>
        <table>
            <tr>
                <td>
                    <a href="/vote/?car=Tesla" id="tesla" class="button"
                       style="background-color: #000000;"
                       onmousedown="mkgrey('tesla')">Tesla</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <a href="/vote/?car=Leaf" id="leaf" class="button"
                     style="background-color: rgb(84,176,218);""
                     onmousedown="mkgrey('leaf')">Leaf</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/vote/?car=BMW" id="bmw" class="button"
                    style="background-color: rgb(202,87,40);"
                    onmousedown="mkgrey('bmw')">BMW</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <a href="/vote/?car=Fiat" id="fiat" class="button"
                     style="background-color: rgb(254,85,39);"
                     onmousedown="mkgrey('fiat')">Fiat</a>
                </td>
            <tr>
                <td>
                    <a href="/vote/?car=Volt" id="volt" class="button"
                     style="background-color: #0000ff;"
                     onmousedown="mkgrey('vol')">Volt</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <a href="/vote/?car=delete" class="button" style="background-color: #777777;">Delete</a>
                </td>
            </tr>
            </tr>
        </table>
    </div>
    <hr>
    <table class="pure-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>{{ vote.choice }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Car</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        {% for tally in tallies %}
            <tr>
                <td>{{ tally.choice }}</td>
                <td>{{ tally.choice__count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="font-size: .75em; text-align: right;">cars.html</p>
{% endblock %}
