{% extends 'menu_base.html' %}

{% block title %}Vote Tallies{% endblock %}

{% block header %}
    <h2>Tally Page for: {{ survey }}</h2>
    <style>
    .button {
        border: none;
        color: white;
        padding: 25px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }
    </style>
{% endblock %}

{% block content %}
    <h1 class="content-subhead">Vote Total {{ vtot }}</h1>
    <div>
        <table>
            <tr>
                <td>
                    <a href="/vote/?type=man" class="button" style="background-color: #0000ff;">Man</a>
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td>
                    <a href="/vote/?type=woman" class="button" style="background-color: #ff0000;">Woman</a>
                </td>
            </tr>
        </table>
    </div>
    <hr>
    <table class="pure-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>{% if vote.type %}Woman{% else %}Man{% endif %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p style="font-size: .75em; text-align: right;">index.html</p>
{% endblock %}
