{% extends 'menu_base.html' %}

{% block title %}Vote Counted{% endblock %}

{% block appleicon %}
{% load staticfiles %}
<link rel="apple-touch-icon" href="/static/vote-{{ type }}.png">
{% endblock appleicon %}


{% block header %}
    <h1>Vote Added For a {{ type }}</h1>
{% endblock %}

{% block content %}
    <h2 class="content-subhead">Vote Totals</h2>
    <ul>
        <!-- <li>Men: {{ mtot }}</li>
        <li>Women: {{ wtot }}</li> -->
        <li>Survey: {{ survey }}</li>
    </ul>
    <hr>
    <table class="pure-table">
        <tr>
            <th>Date</th>
            <th>Vote</th>
        </tr>
        {% for vote in votes %}
        <tr>
            <td>{{ vote.date }}</td>
            <td>{% if vote.type %}Woman{% else %}Man{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <p style="font-size: .75em; text-align: right;">vote.html</p>
{% endblock %}
