{% extends 'menu_base.html' %}

{% block title %}About Track Places{% endblock %}

{% block header %}
    <h1>About Track Places</h1>
{% endblock %}

{% block content %}
<div class="container">
<p/>
<h2>Why Track Places</h2>

<p>
There are many services out there to help you find restaurants (yelp, urbanspoon, etc) and they are great at what they do. In trying them I found I have no interest in writing reviews for others, I just want to keep notes for myself. I want to keep track of the things that matter to me like whether there is outdoor seating, whether it's a good place for a group or whether I hated the restaurant. 
</p>

<p>
I also found that whenever I went to a new place I would find restaurants I wanted to go to and that I wanted to add them to a list. I started doing this in <a href="http://foursquare.com">Foursquare</a> and found it useful but hated that Foursquare was constantly tracking me. In the end my desire for privacy won out and I stopped using Foursquare.
</p>

<p>
As someone who walks much of the time, I found that keeping track of restaurants by city was not adequate. I really needed to be able to organize restaurants by neighborhoods so that I could see what is within walking distance of where I am.  In Track Places you organize your restaurants by neighborhoods.
</p>

<p>
My goals in creating Track Places were to.
</p>

<ul>
    <li>Have a place to keep my own notes on restaurants.</li>
    <li>Be able to keep track of the information I care about, like dog friendlyness.</li>
    <li>Keep lists of places I want to try.</li>
    <li>Keep all my information private unless I choose to share something.</li>
    <li>Allow me to group restaurants by neighborhoods</li>
</ul>

<p>
Give Track Places a try and let me know what you think.  You can reach me at dane@dacxl.com
</p>

<h2>Some Things to Remember While Using Track Places</h2>

<h4>You define your City and Neighborhood list</h4>
<p>
Your list of cities and neighborhoods are defined by the places you create. This allows you to be as specific or general as you want.  You can choose to label San Francisco as "San Francisco, California, USA" or just "SF".
</p>
<p>
The same is true for Neighborhoods. You can have just one neighborhood for a city or 20. It's up to you based on how you want to organize things.
</p>

<h4>When you start you have a blank slate</h4>
<p>
Unfortunately when you start you have to get the data in for the places you want to track. The easiest way to start is to use the Search to look for a few places that others have already put in and <strong>Add</strong> them to your list. When you do this you won't get the original user's personal data but it will start you off with the public info.
</p>

<h4>Why is there a Yelp field?</h4>
<p>
While my goal was to track information that was not easy to track in other services, I also did not want to replicate capabilities other services already have. Yelp contains a lot of information about restaurants and if you put in the Yelp URL for a restaurant the Yelp page will be displayed when you look at the place in Track Places. This allows you to see many more details about a restaurant while minimizing the data you have to enter.
</p>
</div>

{% endblock %}
