{% extends 'menu_base.html' %}

{% block title %}Welcome to Track Places{% endblock %}

{% block header %}
    <h1>Track Restaurants, Bars and Music Venues</h1>
    <h2>And share them with your friends.</h2>
{% endblock %}

{% block content %}
    <div class="container">
            <h2 class="content-subhead">Track the restaurants you've been to or want to go to</h2>
            <p>
                "What was the name of that great place I went to in Chicago?"
            </p>

            <h2 class="content-subhead">Keep lists of places just for you!</h2>
            <p>
                "I want my data to be mine and not some company's revenue opportunity!"
            </p>
    </div>
    {% if user.is_anonymous %}
    <div id="layout"><div class="hero"><div class="hero-cta">
        <p>
            <a class="pure-button pure-button-primary button-xlarge" href="/login">Login</a>

            <a class="pure-button pure-button-secondary button-xlarge" href="/newuser">Register</a>

            <a class="pure-button pure-button-secondary button-xlarge" href="/places/city">Use As Guest</a>
        </p>
    </div></div></div>
    {% endif %}
{% endblock %}
