{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Info{% endblock %}

{% block header %}
    <h1>Info Page</h1>
{% endblock %}

{% block content %}
<p/>
	<table class='pure-table'>
		<thead>
			<tr>
				<th>Parameter</th>
				<th>Value</th>
			</tr>
		</thead>
		<tdata>
			<tr>
				<td>User</td><td>{{ data.username }}</td>
			</tr>
			<tr>
				<td>Number of Users</td><td>{{ data.num_users }}</td>
			</tr>
			<tr>
				<td>Number of Places</td><td>{{ data.num_places }}</td>
			</tr>
			<tr>
				<td>Votes for Men</td><td>{{ data.men_votes }}</td>
			</tr>
			<tr>
				<td>Votes for Women</td><td>{{ data.women_votes }}</td>
			</tr>
			<tr>
				<td>Current Survey</td><td>{{ data.survey }}</td>
			</tr>
		</tdata>
	</table>
 <hr>
<table class='pure-table'>
	<thead>
		<tr>
			<td>Server</td><td>Database</td><td>Debug</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ server }}</td><td>{{ database }}</td><td>{{ debug }}</td>
		</tr>
	</tbody>
</table>
{% endblock content %}
