{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Cities{% endblock %}

{% block header %}
<h1>Neighborhoods in {{ city }}</h1>
  <div class="container">
    <form name="filter" action="/places/{{pltype}}/city/{{ city }}/" method="post">
      {% csrf_token %}
<label>Dog Friendly Only:</label> <input name="dog_friendly" type="checkbox" {% if args.dog_friendly %}checked{% endif %}/>
&nbsp;&nbsp;&nbsp;
{% if pltype == 'rest' %}
<label>Outdoor Only:</label> <input name="outdoor" type="checkbox" {% if args.outdoor %}checked{% endif %}/>
       &nbsp;&nbsp;&nbsp;
        <label for="id_cuisine">Cuisine:</label>
        <select id="id_cuisine" name="cuisine">
        <option value=""></option>
        {% for c in cuisine_list %}
          <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
        </select>
{% else %}
<label>Has a bar:</label> <input name="has_bar" type="checkbox" {% if args.has_bar %}checked{% endif %}/>
{% endif %}
       &nbsp;&nbsp;&nbsp;
      <input name="submit" type="submit" value="Filter">
    </form>
  </div>
{% endblock %}

{% block content %}
{% load dict %}
    <div class='container'>
      <ul>
            {% for locale, sorted_places in locale_list %}
              <li>{{ locale }}</li>
              <ul>
                <!-- TBD: need to sort the restaurants -->
                {% for place in sorted_places %}
                  <li><a href='/places/view/{{ place.3 }}'>
                      {{ place.0 }}</a>, {{ place.1 }} - {{ place.2 }}
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
      </ul>
    </div>
{% endblock %}
