{% extends 'places/menu_base.html' %}

{% block title %}TrackPlaces - Cities{% endblock %}

{% block header %}
    <h1>Locales for {{ city }}</h1>
{% endblock %}

{% block content %}
{% load dict %}
    <div class='container'>
      <ul>
            {% for locale in llist %}
              <li>{{ locale }}</li>
              <ul>
                {% for p in dict|sort_hash:locale %}
                  <li><a href='/places/view/{{ ids|hash:p }}'>
                      {{ p }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
      </ul>
    </div>
{% endblock %}
