{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Details{% endblock %}

{% block header %}
    <h3>{{ p.name }}{% if anon %} - Guest View{% endif %}</h3>
{% endblock %}

{% block content %}

    	<h3>Details</h3>
    	<table>
    		<tr><td class='place-field'>City</td>           <td><a href="/places/city/{{ p.city }}">{{ p.city }}</a></td></tr>
    		<tr><td class='place-field'>Locale</td>         <td>{{ p.locale }}</td></tr>
            <tr><td class='place-field'>Cuisine</td>        <td>{{ p.cuisine }}</td></tr>
    		<tr><td class='place-field'>Outdoor Seating&nbsp;&nbsp;</td><td>{% if p.outdoor %}<img src="/static/up.gif" alt="thumbs up" height="55"/>
                                                                            {% else %}<img src="/static/down.gif" alt="thumbs down" height="55"/>{% endif %}</td></tr>
    		<tr><td class='place-field'>Dog Friendly</td>   <td>{% if p.dog_friendly %}<img src="/static/up.gif" alt="thumbs up" height="55"/>
                                                                            {% else %}<img src="/static/down.gif" alt="thumbs down" height="55"/>{% endif %}</td></tr>
            {% if not anon %}
            <tr><td class='place-field'>Rating</td>         <td>{% if p.rating == -1 %}<img src="/static/dislike.gif" alt="distdke" height="55"/>
                {% else %}<img = src="/static/star_{{ p.rating }}.gif" alt="rated {{ p.rating }} stars" height="55"/>
                {% endif %}
            </td></tr>
    		<tr><td class='place-field'>Good For</td>       <td>{{ p.good_for }}</td></tr>
    		<tr><td class='place-field'>Comment</td>        <td>{{ p.comment }}</td></tr>
            {% endif %}
        </table>

        <table>
        {% if not anon %}
    	<td><a class="pure-button pure-button-primary" href="/places/edit/{{ p.id }}">Edit Restaurant Information</a></td>
        <td><a class="pure-button pure-button-disabled" href="/places/share/{{ p.id }}">Share</a></td>
        {% endif %}
        </table>
    <hr>

{% endblock content %}

{% block extra %}
    {% if p.yelp|length > 4 %}
	    <object data={{ p.yelp }} width="1000" height="400">
	      <embed src={{ p.yelp }} width="1000" height="400"> </embed>
	      Error: Embedded data could not be displayed.
	    </object>
	    </div>
    {% endif %}
{% endblock extra %}