{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Add{% endblock %}

{% block header %}
    <h3>{{ p.name }}</h3>

<style>
th {
  padding-right: 10px;
  text-align: left;
  font-weight: normal;
}
label.required {
    color: red;
}

.large {
    width: 200%;
}

</style>
{% endblock %}

{% block content %}

<h3>Add {{ pltypeS }} Information</h3>

<form action="/places/{{ pltype }}/add/" method="post">
{% csrf_token %}
<table cellpadding="10">
{{ form }}
</table>
<input type="submit" value="Add {{ pltypeS }}">
</form>
{% endblock content %}
