{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Add{% endblock %}

{% block header %}
    <h3>{{ p.name }}</h3>
{% endblock %}

{% block content %}

    	<h3>Restaurant Information</h3>
        <form action="/places/add/" method="post">
        {% csrf_token %}
    	<table>
            <tr>
                <td>Name:</td><td><input type="text" name="name" value=""></td>
            </tr>
            <tr>
                <td>City:</td><td><input type="text" name="city" value=""></td>
            </tr>
            <tr>
                <td>Locale:</td><td><input type="text" name="locale" value=""></td>
            </tr>
            <tr>
                <td>Cuisine:</td><td><input type="text" name="cuisine" value=""></td>
            </tr>
            <tr>
                <td>Rating:</td><td><input type="text" name="rating" value=0 size="5"></td>
            </tr>
            <tr>
                <td>Outdoor Seating:&nbsp;&nbsp;</td><td><input type="checkbox" name="outdoor"></td>
            </tr>
            <tr>
                <td>Dog Friendly:</td><td><input type="checkbox" name="dog_friendly"></td>
            </tr>
            <tr>
                <td>Visited:</td><td>
                                 <input type="radio" name="status" value="0" checked> Have Not Been To<br/>
                                 <input type="radio" name="status" value="1" > Want To Go To<br/>
                                 <input type="radio" name="status" value="-1" > Don't Go Again<br/>
                                 </td>
            </tr>
            <tr>
                <td>Good For:</td><td><input type="text" name="good_for" value=""></td>
            </tr>
            <tr>
                <td>Yelp Link (URL):</td><td><input type="text" name="yelp" value="" size="70"></td>
            </tr>
            <tr>
                <td>Comment:</td><td><input type="text" name="comment" value="" size="70"></td>
            </tr>
    	</table>
        <input type="submit" value="Add Place">
        </form>
    </div>

{% endblock content %}
