{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Add{% endblock %}

{% block header %}
    <h3>{{ p.name }}</h3>
{% endblock %}

{% block content %}

    	<h3>Restaurant Information</h3>
        <form action="/places/add/" method="post">
        {% csrf_token %}
    	<table >
            <tr>
                <td>Name:</td><td><input type="text" name="name" value=""></td>
            </tr>
            <tr>
                <td>City:</td><td><input type="text" name="city" value=""></td>
            </tr>
            <tr>
                <td>Locale:</td><td><input type="text" name="locale" value=""></td>
            </tr>
            <tr>
                <td>Cuisine:</td><td><input type="text" name="cuisine" value=""></td>
            </tr>
            <tr>
                <td>Rating:</td><td><input type="text" name="rating" value=0 size="5"></td>
            </tr>
            <tr><td style="padding-left: 20px;" colspan=2> 0=unrated or 1, 2 or 3 for a rating</td></tr>
            <tr>
                <td>Outdoor Seating:&nbsp;&nbsp;</td><td><input type="checkbox" name="outdoor"></td>
            </tr>
            <tr>
                <td>Dog Friendly:</td><td><input type="checkbox" name="dog_friendly"></td>
            </tr>
            <tr>
                <td>Visit Type:</td>
                <td>
                  <select name="status"> 
                    <option value="0" {% if p.status == 0 %}selected{% endif %}>Want To Go To</option>
                    <option value="1" {% if p.status == 1 %}selected{% endif %}>Have Been To</option>
                    <option value="2" {% if p.status == 2 %}selected{% endif %}>Not Interested</option>
                    <option value="3" {% if p.status == 3 %}selected{% endif %}>Don't Go Again</option>
                  </select>
                </td>
            </tr>
            <tr>
                <td>Good For:</td><td><input type="text" name="good_for" value=""></td>
            </tr>
            <tr>
                <td>Yelp Link (URL):</td><td><input type="text" name="yelp" value="" size="70"></td>
            </tr>
            <tr>
                <td>Comment:</td><td><input type="text" name="comment" value="" size="70"></td>
            </tr>
    	</table>
        <input type="submit" value="Add Place">
        </form>
    </div>

{% endblock content %}
