{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Details{% endblock %}

{% block header %}
    <h3>{{ p.name }}{% if anon %} - Guest View{% endif %}</h3>
{% endblock %}

{% block content %}

    	<h3>Details</h3>
    	<ul>
    		<li class='place-field'>City: <a href="/places/city/{{ p.city }}">{{ p.city }}</a></li>
    		<li class='place-field'>Locale: {{ p.locale }}</li>
            <li class='place-field'>Cuisine: {{ p.cuisine }}</li>
    		<li class='place-field'>Outdoor Seating: {% if p.outdoor %}Yes{% else %}No{% endif %}</li>
    		<li class='place-field'>Dog Friendly: {% if p.dog_friendly %}Yes{% else %}No{% endif %}</li>
            {% if not anon %}
            <li class='place-field'>Rating: {{ p.rating }}</li>
    		<li class='place-field'>Good For: {{ p.good_for }}</li>
    		<li class='place-field'>Comment: {{ p.comment }}</li>
            {% endif %}
    	</ul>
        {% if not anon %}
    	<a class="pure-button pure-button-primary" href="/places/edit/{{ p.id }}">Edit Restaurant Information</a>
        <a class="pure-button pure-button-secondary" href="/places/share/{{ p.id }}">Share</a>
        {% endif %}
    </div>
    <hr>

{% endblock content %}

{% block extra %}
    {% if p.yelp|length > 4 %}
	    <object data={{ p.yelp }} width="1000" height="400">
	      <embed src={{ p.yelp }} width="1000" height="400"> </embed>
	      Error: Embedded data could not be displayed.
	    </object>
	    </div>
    {% endif %}
{% endblock extra %}