{% extends "menu_base.html" %} 

{% block title %}View Places{% endblock title %}

{% block header %}
<form action="{% url 'places:search' %}" method="post">
  {% csrf_token %}
   <p>
      <label>Show places containing:</label>
      <input type="text" name="pat" value={{ args.pat }}>
      <input type="submit" value="Search">
   </p>
  </form>
{% endblock header %}

{% block content %}
<hr />
{% load staticfiles %}
<div class="container">
    {% if places|length > 0 %}
        <ul>
          {% for p in places %}
              <li><a href="/places/view/{{ p.id }}"><span title="{{ p.city }}, {{ p.locale }}">{{ p.name }}</span></a>
                  {% if p.user != user and user.is_authenticated %}
                  -- new
                  {% endif %}
          {% endfor %}
        </ul>
    {% else %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">No Places Match</span>
        
      </div>
    {% endif %}
</div>
{% endblock content %}