{% extends 'menu_base.html' %}

{% block title %}TrackPlaces - Visits{% endblock %}

{% block header %}
    <h3>Places You've Been</h3>
{% endblock %}

{% block content %}
<p>&nbsp;</p>
    <div class='container'>
    	<table class='pure-table'>
    		<thead>
    			<tr>
    				<th>Date</th>
    				<th>Place</th>
                    <th>Place Type</th>
                    <th>City</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for visit in visit_list %}
        		<tr>
                	<td>{{ visit.when }}</td>
                	<td><a href="/places/view/{{visit.place.id}}/">{{ visit.place.name }}</a></td>
                    <td>{% if visit.place.pltype == 'R' %}Restaurant{% else %}Hotel{% endif %}</td>
                    <td>{{ visit.place.city }}</td>
                </tr>
            	{% endfor %}
            </tbody>
           </table>
    </div>

{% endblock %}
