{% extends "menu_base.html" %}

{% block title %}TP Blog{% endblock title %}

{% block header %}
<h1>TP Development Blog</h1>
{% if show_add %}<a href='{% url 'blog:add_post' %}'>Add Post</a>{% endif %}
{% endblock header %}

{% block content %}

<div class="posts">
  {% for pi in pinfo %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ pi.post.title }}</h2>
                <h4 class="post-meta">{{ pi.post.created_on|date }} - {{ pi.num_comments }} Comments 
                {% if pi.num_comments != 0 %} - Last On: {{ pi.last|date }} {% endif %}</h4>
        </header>

        <div class="post-description">
            <p>
                {{ pi.post.text|safe }}
            </p>
            <p><a href="{% url 'blog:detail' pi.post.slug %}">View and Add Comments</a></p>
        </div>
    </section>
  {% endfor %}
</div>

{% endblock content %}
