{% extends "menu_base.html" %}

{% block title %}TP Blog{% endblock title %}

{% block header %}
<h1>TP Development Blog</h1>
{% if show_add %}<a href='{% url 'blog:add_post' %}'>Add Post</a>{% endif %}
{% endblock header %}

{% block content %}

<div class="posts">
  {% for post in posts %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-meta">{{ post.created_on|date }}</p>
        </header>

        <div class="post-description">
            <p>
                {{ post.text|safe }}
            </p>
            <p><a href="{% url 'blog:detail' post.slug %}">View and Add Comments</a></p>
        </div>
    </section>
  {% endfor %}
</div>

{% endblock content %}
