{% extends "places/menu_base.html" %}

{% block title %}Track Places Blog{% endblock title %}

{% block header %}
<h1>Track Places Blog</h1>
{% endblock header %}

{% block content %}

<h2>{{ post.title }}</h2>

<div >
    <p>
        {{ post.text|safe }}
    </p>
</div>

{% if post.comment_set.all %}
<h2>Comments</h2>
<div class="comments">
    {% for comment in post.comment_set.all %}
        <span>
            {{ comment.name }}</a> said on {{ comment.created_on }}
        </span>
        <ul>
            <li>{{ comment.text }}</li>
        </ul>
    {% endfor %}
</div>
{% endif %}

<h2>Your Comment</h2>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        <tr><th><label for="id_name">Name:</label></th>  <td><input id="id_name" maxlength="60" name="name" type="text" /></td></tr>
        <tr><th><label for="id_email">Email:</label></th><td><input id="id_email" maxlength="60" name="email" type="email" /></td></tr>
        <tr><th><label for="id_text">Text:</label></th>  <td><textarea cols="80" id="id_text" name="text" rows="3"></textarea></td></tr>
    </table>
    <input type="submit" name="submit" value="Add Comment" />
</form>
{% endblock content %}
