{% extends "menu_base.html" %}

{% block title %}Register for Track Places{% endblock title %}

{% block header %}
<h3>Create Your Account</h1>
{% endblock header %}

{% block content %}

{% if form.errors %}
<p>All fields are required. Please try again.</p>
{% endif %}
<div class="container">

<form action="/newuser/" method="post">
    {% csrf_token %}
    <table class="pure-table">
    {{ form }}
    </table>
    <p>
    <input type="submit" value="Register" />
    </p>
</form>
</div>
{% endblock content %}